.top{
    background-color: #E8F9FD;
}

body{
    margin: 0px;
}

#heading{
    margin: 0px;
}

.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    display: inline-block;
    left: 200px;
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    display: inline-block;
    right: 100px;
}

.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;
    display: inline-block;
    right: 100px;
}

.pro{
    text-decoration: underline;
}

